Makefile
config.*
serdep.tmp
.deps
.libs
stamp-*
gdb/gnulib/*.h
*.o
*.a
*.so
*.lo
*.la
*~
*.kdev4
bfd/libtool
bfd/po/BLD-POTFILES
bfd/po/Makefile.in
bfd/po/SRC-POTFILES
gdb/.gdbinit
gdb/data-directory/python/
gdb/data-directory/syscalls/
gdb/gdbserver/amd64-avx-linux.c
gdb/gdbserver/amd64-linux.c
gdb/gdbserver/i386-avx-linux.c
gdb/gdbserver/i386-linux.c
gdb/gdbserver/i386-mmx-linux.c
gdb/gdbserver/xml-builtin.c
gdb/nm.h
opcodes/libtool
opcodes/po/Makefile.in
opcodes/po/POTFILES

